{% block leapt_slug_widget -%}
    <div
        class="input-group"
        {{ stimulus_controller('leapt/slug-type-bundle/slug', {
            target: form.parent.children[target].vars.id,
            alertMessage: 'alert_message'|trans({}, 'LeaptSlugType'),
            lockedIcon: locked_icon,
            unlockedIcon: unlocked_icon,
        }) }}
    >
        {{ block('form_widget') }}
        <button class="btn {{ button_class|default('btn-outline-secondary') }}" type="button" {{ stimulus_target('leapt/slug-type-bundle/slug', 'button') }}>
            {{ locked_icon|raw }}
        </button>
    </div>
{%- endblock %}
