{% block leapt_slug_widget -%}
    <div
        class="input-group"
        data-controller="leapt-slug"
        data-leapt-slug-target-value="{{ form.parent.children[target].vars.id }}"
        data-leapt-slug-modal-id-value="leapt-slug-modal-{{ id }}"
    >
        {{ block('form_widget') }}
        <button class="btn btn-outline-secondary" type="button">
            <i class="fas fa-lock fa-fw"></i>
        </button>
    </div>

    <div class="modal fade" tabindex="-1" id="leapt-slug-modal-{{ id }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'slug_type.modal.title'|trans({}, 'LeaptSlugType') }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ 'slug_type.modal.message'|trans({}, 'LeaptSlugType') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-ban fa-fw"></i>
                        {{ 'slug_type.modal.cancel'|trans({}, 'LeaptSlugType') }}
                    </button>
                    <button type="button" class="btn btn-primary" data-accept="modal">
                        <i class="fas fa-check fa-fw"></i>
                        {{ 'slug_type.modal.ok'|trans({}, 'LeaptSlugType') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}
